.topicos{
    background: var(--azul-degrade);
    text-align: center;
    padding-bottom: 2em;
}

.topicos__titulo{
    color: var(--branco);
    font-weight: 300;
    font-size: 16px;
    padding: 2em 0;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.topicos__item{
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
    font-size: 14px;
}

@media screen and (min-width:1024px) {
    .topicos__titulo{
        font-size: 24px;
    }

    .topicos__item{
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px){
    .topicos{
        padding: 2em 15vw 6em 15vw;
    }

    .topicos__titulo{
        font-size: 32px;
    }

    .topicos__botoes{
        margin-top: 0;
        padding: 2em 1em;
    }
}